ClientAsp/Connected Services/SrvcReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTest" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostCustInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCustInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_PostCustInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCustInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCustInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCustInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCustomers" message="tns:IService1_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCustomersResponse" message="tns:IService1_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTest" message="tns:IService1_GetTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTestResponse" message="tns:IService1_GetTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCustInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostCustInfo" message="tns:IService1_PostCustInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostCustInfoResponse" message="tns:IService1_PostCustInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCustInfo" message="tns:IService1_DeleteCustInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCustInfoResponse" message="tns:IService1_DeleteCustInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTest">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCustInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/PostCustInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCustInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8081/wcfPostgreSQL.Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>